
body {
    background-color:rgb(23, 108, 151);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color:#fff;
}

img.profielfoto {
    width: 180px;
    float: left;
    display: flex;
    gap: 25px;
}

/* Reset de standaardmarges en de opvulling voor alle elementen */
* {
    margin: 0;
    padding: 0;
}

/* Stijl voor het hoofdgedeelte van de pagina */
header {
    background-color:rgb(7, 47, 68);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Stijl voor de naam en functie titel */
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Stijl voor de inhoud van de pagina */
main {
    padding: 20px;
}

/* Stijl voor de secties */
section {
    margin-bottom: 30px;
}

/* Stijl voor de titels van de secties */
h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* Stijl voor de inhoud van de secties */ 

ul { 
    list-style: none; 
    margin-left: 0; 
    padding-left: 0; 
}

li { 
    margin-bottom: 15px; 
}

h4 { 
    font-size: 22px; 
    margin-bottom: 5px; 
}

p { 
    font-size: 18px; 
    margin-bottom: 5px; 
    font-style: oblique;
    align-self: center;
}
p.beschrijving { 
    font-size: 18px; 
    margin-bottom: 5px; 
    font-style: oblique;

}